<div class="registro col-lg-6 col-lg-offset-3">
    
    <div *ngIf="ingreso; else salida">
        <div  id = "tipoReg" class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-success" (click)="Ingreso()">Ingresos</button>
            <button type="button" class="btn btn-default" (click)="Salida()">Salidas</button>
        </div>

        <form class="form-group">

            <div class="row">
                
                <div class="col-lg-6 form-group">
                    <label for="tarifa1">Tarifa</label>
                    <select [(ngModel)]="tarifa_seleccionada" class="form-control" id="tarifa1" name="tarifa">
                        <option></option>
                        <option *ngFor="let tarifa of tarifas; let i = index">{{tarifa.id}}</option>                       
                    </select>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="vehiculo1">Tipo Vehiculo</label>
                    <select [(ngModel)]="tipoVehiculo" class="form-control" id="vehiculo1" (change)="onChangeVehiculo($event)" name="tipo">
                        <option>Carro</option>
                        <option>Moto</option>
                    </select>
                </div>                

            </div>

            <span>{{tarifa_seleccionada}}</span>

            <div class="form-group">
                <label for="placa1">Placa</label>
                <input [(ngModel)]="placa" class="form-control" type="text" id="placa1" name="placa" placeholder="Placa" required>
            </div>

            <div [ngClass]="ingresoMoto == true ? 'form-group' : 'form-group oculto' " >
                <label>Cilindraje</label>
                <input [(ngModel)]="cilindraje" class="form-control" type="text" name="cilindraje" placeholder="Ej: 100 CC">
            </div>

            <div class="form-group">
                <button (click)="onSubmit()" class="btn btn-success" type="submit">Guardar</button>
            </div>
        </form>
    </div>
    
    <ng-template #salida>
        <div id = "tipoReg" class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" (click)="Ingreso()">Ingresos</button>
            <button type="button" class="btn btn-success" (click)="Salida()">Salidas</button>
        </div>

        <form class="form-group">
            <div class="form-group">
                <label for="placa1">Placa</label>
                <input class="form-control" type="text" (input)="onSearchChange($event.target.value)" id="placa1" placeholder="Placa">
            </div>
        </form>

        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Información de la Salida</div>
            <table class="table"> 
                <thead> 
                    <tr> <th>Tarifa</th> <th>Placa</th> <th>Tipo</th> <th>Ingreso</th> <th>Cilindraje</th> <th>Salir</th> </tr> 
                </thead> 
                <tbody> 
                    <tr *ngFor="let auto of autos; let i = index" > 
                        <th scope="row">{{auto.tarifa.id}}</th> 
                        <td>{{auto.placa}}</td>
                        <td>{{auto.tipo}}</td>
                        <td>{{auto.horaIngreso | date:'yyyy-MM-dd HH:mm':'+0900'}}</td> 
                        <td>{{auto.cilindraje}}</td>
                        <td>
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </td> 
                    </tr>                    
                </tbody> 
            </table>
        </div>
    </ng-template>  

    

    

    
</div>